.cardCollection {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  background-color: beige;
}

.collectionHomepage {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
}