body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 30px;
  line-height: 120%;
  margin: 0;
}

/* @import 'variables.sass'
  
* 
  -webkit-text-size-adjust: none
  text-size-adjust: none
  margin: 0
  box-sizing: border-box
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  box-sizing: border-box
  position: relative
  transition: all 0.1s linear
  -webkit-tap-highlight-color: transparent

@font-face
    font-family: "Unbounded"
    src: url('../fonts/Unbounded-Bold.ttf')
    font-style: normal
    font-display: auto
    font-weight: 700


@font-face
    font-family: "Unbounded"
    src: url('../fonts/Unbounded-ExtraBold.ttf')
    font-style: normal
    font-display: auto
    font-weight: 800


@font-face
    font-family: "Unbounded"
    src: url('../fonts/Unbounded-Regular.ttf')
    font-style: normal
    font-display: auto
    font-weight: 400


@font-face
    font-family: "Unbounded"
    src: url('../fonts/Unbounded-Medium.ttf')
    font-style: normal
    font-display: auto
    font-weight: 500

  
html
  width: 100vw
  height: 100vh
  height: calc(var(--vh, 1vh) * 100)
  margin: 0
  padding: 0
  overflow: hidden

body
  font-family: "Unbounded"
  line-height: 130%
  overflow: hidden
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  display: flex
  font-size: clamp(14px, 1.2vmin, 25px)
  line-height: 120%
  flex-direction: column
  justify-content: center
  align-items: center
  background-position: center
  background-size: auto
  background-repeat: repeat
  color: $black-text

#app 
  margin: 0 auto
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: baseline
  
.footer
    width: 100%
    position: fixed
    padding: 25px 25px 50px
    bottom: 0
    display: flex
    justify-content: space-around
    background-color: $background-main

.navigation
  position: sticky
  display: flex
  justify-content: center
  align-items: center
  height: 50px
  background-color: inherit
  padding: 0 20px
  gap: 20px
  width: 100%

  & a
    flex-shrink: 1
    flex-grow: 1
    flex-basis: 0
    max-width: 100px
    text-align: center
    text-decoration: none !important
    color: $black-text
    padding: 5px 10px
    border-radius: 5px
    width: auto

    &:visited 
      color: $black-text

    &:hover, &:active 
      color: $blue-text

    &.mod__active
      background-color: $white-main

.main-container 
  width: 100%
  height: 100%
  display: grid
  align-items: center
  grid-template-rows: 50px 1fr
  background-color: $blue-background

  &::before
    content: ''
    position: absolute
    display: block
    width: 150vmax
    aspect-ratio: 1 / 1
    border-radius: 50%
    background-color: $light-blue-main
    transition: transform .5s ease-in-out
    transform: scale(1) 
    top: calc(50% - 75vmax)
    left: calc(50% - 75vmax)

  &.mod__tindime::before
    transform: scale(0)
    

@media (max-width: $media-phone) */
