@import 'variables.sass'

$button-choice-neg: #D74400
$button-choice-pos: #308A00
  
.button-choice 
  width: 80px
  aspect-ratio: 1 / 1
  border-radius: 50%
  cursor: pointer

  &__pos 
    background-color: $button-choice-pos
  
  &__neg 
    background-color: $button-choice-neg
  

